@model IQueryable<Employee>
@foreach (var p in Model)
{
    <div>
        <h3>Name: @p.Name</h3>
        Age: @p.Age <br />
        Address: @p.Address <br />
        Email: @p.Email
        <p>----------------</p>
        <br />
    </div>
}