@model IQueryable<Employee>
@foreach (var p in Model)
{
    <div>
        <h3>Name: @p.Name</h3>
        Age: @p.Age
        <h4>Address: @p.Address</h4>
        <p>----------------</p>
        <br />
    </div>
}